/*
 * GENERAL STYLES AND RESETS
 */
body {
	margin: 1em;
}

ul {
	list-style-type: square;
}

/*
 * TEXT AND TITLES
 */
.title1 {
	border: 1px solid #AAAAAA;
	background-color: #4E4D4A;
	color: #F5F5F5;
	padding: .4em;
}

.title2 {
	border: 1px solid #AAAAAA;
	background-color: #DCDCDC;
	padding: .2em;
}

